* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

body {
    background-image: url(/img/avengers-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    position: sticky;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #151515;
    padding: 20px 0px 20px 0px;
    box-shadow: 0px 0px 15px rgb(3, 98, 161);
}

.header-title-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(105, 2, 173);
    font-family: fantasy;
    letter-spacing: 5px;
}

h1 {
    color: rgb(23, 2, 82);
    text-shadow: 0px 0px 5px aqua;
}

.header-list {
    display: flex;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-family: ;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    color: rgb(30, 122, 207);
    text-shadow: 0px 0px 5px black;
}

.header-list-link .nav-link {
    list-style: armenian;
    padding: 7px;
    border-radius: 3px;
    transition: all 1s ease;
    text-shadow: 0px 0px 5px black;
}

.header-list-link .nav-link:hover {
    background-color: rgb(6, 90, 185);
    color: aquamarine;
    padding: 7px;
}

.header-list-link:not(:last-child) {
    margin-right: 20px;
}

.dflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    background-image: url(./img/avengers-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 1px solid red;
}

.join {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(14, 74, 114);
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 3px;
    display: inline-block;
    transition: all 0.5s ease;
}

.join:hover {
    box-shadow: 0px 0px 7px aqua;
    padding: 10px;
}

.bgi {
    padding-top: 150px;
    padding-bottom: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avengerrs-img {}

.section-one {
    position: relative;
    padding: 50px 0px 50px 0px;
    background-color: #151515;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
}


/* swiper */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    padding: 0px 0px 30px 0px;
}

.swiper-slide {
    font-size: 18px;
    background-color: rgb(39, 52, 65);

    padding: 15px 15px 15px 15px;
    border-radius: 7px;
    max-width: 350px;
}

.tarmoq:not(:last-child) {
    margin-bottom: 10px;
    display: inline-block;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 250px;
    border-radius: 7px;
    object-fit: cover;
    background-color: rgb(59, 80, 99);
    margin-bottom: 20px;
}

.swiper-pagination {
    position: absolute;
    background-color: rgb(250, 246, 246);
    bottom: 0;
    left: 0;
}

.block {
    position: absolute;
    top: 30px;
    z-index: 2;
    right: 90px;
    color: #fff;
    width: 100px;
    height: 1px;
    right: 0;
}

.swiper-button-prev {
    font-size: 30px;
}

.swiper-button-prev::after {
    display: none;
}

.swiper-button-prev::before {
    display: none;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-next::before {
    display: none;
}

.swiper-button-next {
    font-size: 30px;
}

.qasos {
    background-color: #151515;
    padding: 15px 0px 15px 15px;
    border-radius: 0px 40px 0px 40px;
    border: 1px solid rgb(170, 170, 170);
    box-shadow: 0px 0px 7px rgb(160, 159, 159);
    margin-bottom: 30px;
    color: aliceblue;
    text-shadow: 0px 0px 5px rgb(25, 0, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.swiper-img {
    margin-bottom: 20px;
    border-radius: 5px;
}

.olish {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(14, 74, 114);
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 3px;
    display: inline-block;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 5px aqua;
    padding: 10px;
}

.card-title {
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.card-p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(190, 220, 230);
}

.footer {
    border-top: 1px solid red;
    background-color: rgba(26, 25, 25, 0.7);
    padding: 20px 0px 20px 0px;
}

.f {
    color: rgb(184, 227, 245);
    background-color: rgb(4, 65, 65);
}

.foter-block {
    display: flex;
    max-width: 150px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.section-iframe {
    padding: 50px 0px 50px 0px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    backdrop-filter: blur(5px);
    padding: 15px;
    border: 1px dashed red;
    /* grid-auto-columns: ; */
    align-items: center;
    align-self: center;
    gap: 30px;
    justify-content: center;
}

.template {}

.section-data {
    padding: 50px 0px 50px 0px;
}

.data-wrapper {
    max-width: 600px;
    max-height: 385px;
    padding: 20px;
    overflow: auto;
    border-radius: 3px;
    color: rgb(181, 213, 245);
    background-color: rgb(39, 52, 65);
}

.data-parent {
    display: flex;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #151515;
    padding: 20px;
}

.s {
    margin: 0;
    padding: 15px;
    border: none;
    box-shadow: none;
}

.d-img-wrap {
    text-align: center;
    color: aliceblue;
    padding: 15px;
    border: 1px gray solid;
    max-height: 385px;
    max-width: 250px;
    width: 100%;
}

.d {
    margin: 0;

}

.m {
    padding: 0;
    margin-bottom: 25px;
}

.olish {}

.marvel-logo {
    margin-bottom: 20px;
}

.b-div {
    width: 100%;
    max-width: 250px;
}

.q {
    margin-bottom: 10px;
    text-align: center;
}

/* loader */
.overlay-div {
    top: 0;
    z-index: 5;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(2, 13, 26);
}

.y {
    overflow-y: hidden;
}

.w {
    max-width: 277px;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    border: 1px solid rgb(88, 149, 230);

}

.hidden {
    display: none;

}

.bar {
    background-color: rgb(93, 143, 172);
}

/* width */

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    box-shadow: -5px -5px 10px rgb(254, 3, 3);
    background-color: #151515;

}

body::-webkit-scrollbar-thumb {
    box-shadow: 0px 0px 10px rgb(7, 207, 247);
    background-color: rgb(62, 78, 82);
    outline: 1px solid rgb(29, 42, 90);
    border-radius: 200%;
}

.data-wrapper::-webkit-scrollbar {
    width: 7px;
    margin-left: 10px;
}

.data-wrapper::-webkit-scrollbar-track {
    box-shadow: 5px 5px 10px rgb(254, 3, 3);
    background-color: #151515;

}

.data-wrapper::-webkit-scrollbar-thumb {
    box-shadow: 0px 0px 10px rgb(7, 207, 247);
    background-color: rgb(109, 135, 142);
    outline: 1px solid rgb(29, 42, 90);
    border-radius: 200%;
}

.boshlash {
    background-color: #151515;
    padding: 30px 0px 30px 0px;
    color: aliceblue;
}

.iframe-img {
    width: 370px;
    height: 255px;
}

.tayyor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    display: none;
}

main {
    padding-bottom: 50px;
}

.meniu {
    backdrop-filter: blur(10px);
    left: 0;
    background-color: rgba(245, 249, 252, 0.2);
    top: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    display: ;
    position: fixed;
    color: aliceblue;
}

.xira {
    width: 100%;
    right: 0;
    top: 0;
    max-width: none;
    max-height: none;
    height: 100%;

}

.klark {
    margin-bottom: 30px;
}

.vbn {
    display: inline-block;
    font-size: 25px;
    padding-left: 30px;
}

.rph {
    font-size: 25px;
    margin-bottom: 20px;
}

.hr {
    color: aliceblue;
}

.btndiv {
    padding-left: 30px;
    width: 100%;
}

.respo {
    padding: 20px;
    max-width: none;
    max-height: none;
    left: 0;
    top: 0;
    background-color: #151515;
    width: 60%;
    height: 100%;
    display: inline-block;
}

.exitbtn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.hidden {
    display: none;
}

.ja {
    display: block;
}

.hamburger-btn {
    background-color: transparent;
    border: none;
    display: none;
}

@media only screen and (max-width: 1010px) {

    body {
        background-image: none;
        background-color: #263e4d;
    }

    .grid {
        grid-template-columns: auto auto auto;
        /* justify-content: center; */
    }

    .join {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1010px) {
    .grid {

        grid-template-columns: auto;
    }
}

@media only screen and (max-width: 950px) {

    body {
        background-image: none;
        background-color: #263e4d;
    }

    .grid {}

    .nav-link {
        font-size: 14px;
    }

    .d-img-wrap {

        display: none;
    }

    .b-div {
        display: block;
    }

    h1 {
        font-size: 20px;
    }

    .join {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1200px) {
    .iframe-img {
        width: 350px;
        height: 235px;
    }
}

@media only screen and (max-width: 1140px) {
    .iframe-img {
        width: 330px;
        height: 215px;
        background-color: #151515;
    }
}

@media only screen and (max-width: 1070px) {



    .iframe-img {
        width: 469px;
        height: 255px;
        background-color: #151515;
    }
}

@media only screen and (max-width: 1030px) {



    /* .iframe-img {
        width: 939px;
        height: 455px;
        background-color: #151515;
    } */
}

@media only screen and (max-width: 1170px) {



    .qasos {
        font-size: 16px;
    }
}

@media only screen and (max-width: 900px) {
    .logo {
        display: none;
    }

    .bgi {
        padding: 120px 0px 120px 0px;
    }

    .avengerrs-img {
        width: 609px;
    }

    .data-wrapper {
        max-width: 480px;
    }

    .footer-logo {
        width: 20px;
        height: 20px;
    }

    .header-list-link {
        margin: 0px 10px 0px 0px;
    }
}

@media only screen and (max-width: 750px) {
    .nav-link {
        display: none;
    }

    .olish {
        display: inline-block;
    }

    .shart {
        display: block;
    }

    .logo {
        display: inline-block;
    }

    h1 {
        font-size: 27px;
    }

    .join {
        display: none;
    }

    .hamburger-btn {
        display: block;
    }

    .ja {
        display: block;
    }

    .hr {
        display: block;
    }

    .card-title {
        font-size: 16px;
    }

    .card-p {
        font-size: 12px;
    }

}

@media only screen and (max-width: 660px) {
    .avengerrs-img {
        width: 430px;
    }

    .data-parent {
        display: block;
    }

    .b-div {
        width: 100%;
        margin-bottom: 20px;
        max-width: none;
    }

    .data-wrapper {
        max-width: none;
    }
}

@media only screen and (max-width: 550px) {
    .iframe-img {
        width: 278px;
        height: 155px;
        background-color: #151515;
    }

    .h1 {
        display: none;
    }

    .spanx {
        display: none;
    }

    .avengerrs-img {
        width: 300px;
    }

    .right:not(:last-child) {
        margin-right: 10px;

    }

    .dflex {
        padding: 0px 20px 0px 20px;
        justify-content: space-around;
    }

    .bgi {
        padding: 160px 0px 160px 0px;
    }

    .footer-logo {
        width: 15px;
        height: 15px;
    }

    .logo {
        display: none;
    }

    .tarmoq:not(:last-child) {
        margin-bottom: 3px;
    }
}

@media only screen and (max-width: 360px) {
    .qasos {
        font-size: 14px;
    }

    .s {
        padding: 0px;
    }


}