* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

body {
    background-image: url(/img/avengers-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: #151515;
    padding: 20px 0px 20px 0px;
    box-shadow: 0px 0px 15px rgb(3, 98, 161);
}

.header-title-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(105, 2, 173);
    font-family: fantasy;
    letter-spacing: 5px;
}

h1 {
    color: rgb(23, 2, 82);
    text-shadow: 0px 0px 5px aqua;
}

.header-list {
    display: flex;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-family: ;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    color: rgb(37, 87, 253);
}

.header-list-link .nav-link {
    list-style: armenian;
    padding: 7px;
    border-radius: 3px;
    transition: all 1s ease;
}

.header-list-link .nav-link:hover {
    background-color: rgb(6, 90, 185);
    color: aquamarine;
}

.header-list-link:not(:last-child) {
    margin-right: 20px;
}

.dflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    background-image: url(./img/avengers-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 1px solid red;
}

.join {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(3, 33, 116);
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 3px;
    transition: all 0.5s ease;
}

.join:hover {
    box-shadow: 0px 0px 7px aqua;
}

.bgi {
    padding-top: 150px;
    padding-bottom: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avengerrs-img {}

.section-one {
    padding: 50px 0px 50px 0px;
    background-color: #151515;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
}


/* swiper */

.swiper {
    width: 100%;
    height: 100%;
    padding: 30px;
}

.swiper-wrapper {
    padding: 30px 0px 50px 0px;
}

.swiper-slide {
    font-size: 18px;
    background-color: rgb(39, 52, 65);

    padding: 15px 15px 15px 15px;
    border-radius: 7px;
    max-width: 350px;
}

.tarmoq:not(:last-child) {
    margin-bottom: 10px;
    display: inline-block;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 250px;
    border-radius: 7px;
    object-fit: cover;
    background-color: rgb(59, 80, 99);
    margin-bottom: 20px;
}

.swiper-pagination {
    position: absolute;
    background-color: rgb(250, 246, 246);
    bottom: 0;
    left: 0;
}

.block {
    position: absolute;
    bottom: 38px;
    z-index: -3;
    right: 50px;
    color: #fff;
    width: 150px;
    height: 1px;
}

.swiper-button-prev {
    background-color: rgb(179, 208, 245);
    border-radius: 100%;
    padding: 30px;
}

.swiper-button-next {
    background-color: rgb(179, 208, 245);
    border-radius: 100%;
    padding: 30px;
}

.qasos {
    margin-bottom: 30px;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.swiper-img {
    margin-bottom: 20px;
    border-radius: 5px;
}

.card-title {
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.card-p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(190, 220, 230);
}

.footer {
    border-top: 1px solid red;
    background-color: rgba(26, 25, 25, 0.7);
    padding: 20px 0px 20px 0px;
}

.f {
    color: rgb(177, 212, 243);
}

.foter-block {
    display: flex;
    max-width: 150px;
    width: 100%;
    justify-content: space-around;
}

.section-iframe {
    padding: 50px 0px 50px 0px;
}

.grid {
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(5px);
}

.template {
    width: 390px;
    height: 275px;
    background-color: #151515;
}

.section-data {
    padding: 50px 0px 50px 0px;
}

.data-wrapper {
    max-width: 600px;
    max-height: 385px;
    padding: 20px;
    overflow: auto;
    border-radius: 3px;
    color: rgb(181, 213, 245);
    background-color: rgb(39, 52, 65);
}

.data-parent {
    display: flex;
    justify-content: space-around;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #151515;
    padding: 20px;
}

.d-img-wrap {
    text-align: center;
    color: aliceblue;
    padding: 15px;
    border: 1px gray solid;
    max-height: 385px;
}

.q {
    margin-bottom: 10px;
    text-align: center;
}

/* loader */
.overlay-div {
    top: 0;
    z-index: 3;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(2, 13, 26);
}

.y {
    overflow-y: hidden;
}

.w {
    max-width: 277px;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    border: 1px solid rgb(88, 149, 230);

}

.hidden {
    display: none;

}

@media only screen and(min-width: 1118px) {
    .header {
        width: 100%;
    }
}